@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.btnTailwindClasses {
  @apply ring-1 ring-green-600 rounded-sm px-2 py-1 cursor-pointer hover:text-green-400 transition-all text-emerald-950 bg-blue-400;
}

.formShowingStyle {
  @apply mx-auto p-3 md:max-w-lg max-w-md shadow shadow-black;
}

/* own css class */

.CardItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gameBoxStyle {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 10px;
}

/* slide todo app */

.slideParent {
}
.slide-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-shrink: ;
}

.sliderCard {
  width: 200px;
  height: 100px;
}

/* loading ui segment */
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: inherit;
}

.loader-container {
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #555;
}
